:root {
  --switch-base-width: 50px; /* Alap szélesség, ezt változtathatod */
  --switch-height-ratio: 34 / 60; /* Arány a magassághoz */
  --slider-circle-size: calc(
    var(--switch-base-width) * 0.45
  ); /* Arányos kör méret */
  --slider-bottom-offset: calc(var(--switch-base-width) * 0.06); /* 4px */
}

.switch {
  position: relative;
  display: inline-block;
  width: var(--switch-base-width); /* szélesség változóval */
  height: calc(var(--switch-base-width) * var(--switch-height-ratio));
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switch-color);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--slider-circle-size); /* Arányos kör méret */
  width: var(--slider-circle-size); /* Arányos kör méret */
  left: calc(var(--switch-base-width) * 0.06); /* 4px */
  bottom: var(--slider-bottom-offset); /* 4px */
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--switch-checked-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(
    calc(var(--switch-base-width) * 0.43)
  ); /* Arányos eltolás */
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
